{% extends "layout.html" %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<h1>Register</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<form method="POST" action="/publisher/register" class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-2" for="first_name">First name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="First name" name="first_name">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="last_name">Last name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Last name" name="last_name">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Email address</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" placeholder="Email address" name="email">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="password">Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" placeholder="Password" name="password">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-2">
						<button type="submit" class="btn btn-primary">Register</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
